

// body { @include container(100px); }
nav { @include span(3 of 12); }

body {
  background-color: $white;
  display: block;
  @include container(show overlay);
}


$xs : 340px;
$sm : 544px;
$md : 768px;
$lg : 991px;
$xl : 1200px;

$mw : min-width;

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,

);


.container {
  // max-width: 1200px;
  // margin: 20px auto;
  @include container(1200px);
  padding: 50px;
}


#masthead {
  background-color: $black;
}

.h1 {

}
.h2 {

}
.h3 {

}
.h4 {

}
.h5 {

}
.h6 {

}
p {

}
p strong {

}
a {

  &:hover, &:active, &:focus {

  }
}



$speed : 300ms;
// $slow : 600ms;
// $fast : 100ms;

$br : 3px;
// $br_sm : 00;
// $br_lg : 00;

.btn {
  border-radius: $br;
  padding: 15px 20px 10px;
  // font-weight: 400;
  text-transform: uppercase !important;
  text-align: center;
  display: inline-block;
  min-width: 200px;
  transition: $speed;
  font-weight: 100;
  position: relative;
  background-size: 1px 200px !important;
  font-family: $sackers;
  cursor: pointer;
  z-index: 2;

  &:hover, &:focus {
    transition: $speed;
    background-position: 200px -50px !important;
    cursor: pointer;


  &_a {


  }

}


//woo

body.single-product {
.woocommerce-breadcrumb {
  @include span(12);
}
.product {
  @include span(12);
}
  .images {
    @include span(6 at 7);

     img {
       max-width: 100%;
       height: auto;
     }
  }


  .entry-summary {
    @include span(6 at 0);
  }

}

@media ( min-width: $lg) {
}


//@include span(full);

//@include span(8 break);
//  @include span(4);
